body {
    background-color: #80d280;
    color: #877bd7;
}
/* Styling the list of items in the nav bar*/
nav ul{
    display: flex;
    flex-wrap: wrap;
    margin:0;
    padding:0;
    z-index:10;
}
/* Styling the space of each item */
nav li {
    position: relative;
    display: flex;
    list-style:none;
    background-color: green;
    color: #3521f1;
    margin:0;
    flex:1;
    min-width:200px;
    text-align:center;
}
nav a, nav a:visited {
    text-decoration: none;
    width:100%;
    padding:8px 0px;
    color: #3521f1;
}
nav a:hover, nav a.active {
    color: #80d280;
    background-color: rgb(53, 33, 241);
}
.dropdown-content {
    position: absolute;
    top: 37px;
    width:100%;
    display: none;
    z-index:20;
}
nav li:hover .dropdown-content {
    display: block;
}
.dropdown-content a {
    font-weight: bold;
 }
.dropdown-content ul {
    flex-direction: column;
}